<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#"><%= image_tag("http://www.digicamsecurity.com/portal/lib/tpl/bootstrap3/images/logo_light.png", height: '40') %></a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <%= link_to destroy_user_session_path, :class => 'nav-link', method: :delete do %>
        Sign out
        <span data-feather="log-out"></span>
      <% end %>
    </li>
  </ul>
</nav>
